/* CSS Document */

body {
	background-color:#fff;
	font-family:"Trebuchet MS", Arial, Verdana;
	font-size:12px;
	color:#444444;
	margin:0;
}
#wrapper 
{
	text-align: left;
	width: 80%;
	background-color: #FFFFFF;
	margin: 10px auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#header-container {
	width:765px;
	margin:0 auto;
	padding:29px 0 0 0;
}
#header h1 {
	font-family:Garamond, Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-size:46px;
	color:#293929;
	padding:0!important;
	padding:16px 0 0 0;
	margin:15px 0 0 0;
}
#header h1 a {
	text-decoration:none;
	color:#336699;
}
#header h1 a:hover {
	border:none;
}
#header img {
	float:left;
	margin:0 30px 0 0;
}

.clear {
	clear:both;
}

/* Form styles */
/*
 * The form styles section displays information about the forms
 * formstrip is the part above the form fields
 * formleft & formright deal with the left and right <td> in the form output.
 *
*/
input,select,textarea
{
	border: 1px solid #999;
	color: #000000;
	background-color: #EFEFEF;
	font-family: Verdana, Arial, Geneva;
	font-size: 10px;
}
/* Pagination
 * This class handles the appearence of the
 * previous and next section
 *
*/
.pageNav {margin: 5px}
.pageNav td { padding: 2px 4px 2px 4px; }
.pageNav a { text-decoration: none; }

.pagination{
	text-align: right;
	background-color: #344C7C;
	color: #333333;
}
.paginationNum{
	background-color: #FFFFFF;
	color: #333333;
}
.navigationBack{
	background-color: #344C7C;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}

/*
* Icons
*/
#mainpanel { 
	text-align: center; 
	vertical-align: middle; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
#mainpanel td.icon { 
	height: 93px !important;
	height: 93px; 
	width: 108px !important;
	width: 110px; 
	vertical-align: middle; 
	text-decoration : none;
	border: 1px solid #DDD;
	padding: 2px 5px 1px 5px;
}

#mainpanel td.icon a    { 
	color : #808080; 
}
#mainpanel td.icon a:hover   { 
	color : #333;
	text-decoration: none;
}

/*
* Main Tables
*
* & Alternating Rows
*/
table.list 
{
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	border: 1px solid #999;
	border-spacing: 1px;
	width: 100%;
	/*border-collapse: collapse;*/
}
table.list th 
{
	margin: 0px;
	padding: 6px 4px 2px 4px;
	height: 25px;
	background-repeat: repeat;
	font-weight: bold;
	color: #FFF;
	background-color: #7489AE;
	background: url(../images/backgrounds/catbg.jpg);
	background-repeat: repeat;
	text-align: left;
}
.row1 {
	background-color: #F9F9F9;
}
.row2 {
	background-color: #FFF;
}
table.list td {
	border-bottom: 1px solid #e5e5e5;
	padding: 4px;
}
table.list tr.row1:hover {
	background-color: #f1f1f1;
}
table.list tr.row2:hover {
	background-color: #f1f1f1;
}
/*
* Link Styles
*
*/
a:link, a:visited 
{
	color: #434248; text-decoration: none;
}
a:hover 
{
	color: #ff6600;	text-decoration: none;

}
.error{
	color: #000000;
	background: #FFF;
	margin: 5px;
	padding: 5px;
	width: 80%;
	border: 1px solid red;
	text-align: center;
}
td.active {
	background: #BEB;
	text-align: center;
}
td.inactive{
	background: #FFFF99;
	text-align: center;
}
#footer {
	padding:15px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin:50px 0 50px 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999;
	clear:both;
}
#footer a {
	color:#666;
}
#footercontent {
	width:700px;
	margin:0 auto 0 auto;
}
/*- Menu Tabs --------------------------- */

	#tabs {
	float:left;
	width:100%;
    background-image:url(../images/backgrounds/menu.jpg);
	background-position:top;
	background-repeat:repeat-x;
	font-size:93%;
	line-height:normal;
	}
    #tabs ul {
	  margin:0;
	  padding:10px 10px 0 100px;
	  list-style:none;
      }
    #tabs li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabs a {
      float:left;
      background:url("../images/backgrounds/tableft.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabs a span {
      float:left;
      display:block;
      background:url("../images/backgrounds/tabright.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs a span {float:none;}
    /* End IE5-Mac hack */
    #tabs a:hover span  {
      color:#FFF;
      }
    #tabs a:link#activetab, #tabs a:visited#activetab, #tabs a:hover {
      background-position:0% -42px;
      }
    #tabs a#activetab span, #tabs a:hover span {
      background-position:100% -42px;
      }
#breadcrumb{
	background-color: #000;
	color:#FFF;
	padding-right:10px;
	text-align: right;
}
#breadcrumb a{
	color:#FFF;
	text-decoration: none;
}
fieldset {
	border: 1px solid #ccc;
	float: left;
	width: 100%;
	padding: .5em 2em;
	margin: 1em; 
}
legend {
	font-family: Garamond, Georgia, "Times New Roman", Times, serif;
	font-size: 40px;
}
#stats fieldset {
	border: 1px solid #ccc;
	float: left;
	width: 100%;
	padding: .5em 2em;
	margin: 1em; 
}
#stats legend {
	font-family: Garamond, Georgia, "Times New Roman", Times, serif;
	font-size: 40px;
	color: #666;
}